@keyframes weapon-collapse-side-in-left {
  0% {
    background: rgba(15, 25, 35, 0.6);
    opacity: 0;
  }
  40% {
    transform: scaleX(0) translateX(-50%);
    opacity: 0;
  }
  90% {
    background: rgba(15, 25, 35, 0.6);
  }
  100% {
    transform: scaleX(1) translateX(0%);
    opacity: 1;
  }
}

@keyframes weapon-collapse-side-in-right {
  0% {
    background: rgba(15, 25, 35, 0.6);
    opacity: 0;
  }
  40% {
    transform: scaleX(0) translateX(50%);
    opacity: 0;
  }
  90% {
    background: rgba(15, 25, 35, 0.6);
  }
  100% {
    transform: scaleX(1) translateX(0%);
    opacity: 1;
  }
}

.animate-weapon-collapse-in {
  transform-origin: left;
  animation-name: weapon-collapse-side-in-left;
}

.animate-weapon-collapse-in.right {
  transform-origin: right;
  animation-name: weapon-collapse-side-in-right;
}

.animate-weapon-collapse-out {
  transform-origin: left;
  animation-name: weapon-collapse-side-in-left;
  animation-direction: reverse;
}

.animate-weapon-collapse-out.right {
  transform-origin: right;
  animation-name: weapon-collapse-side-in-right;
  animation-direction: reverse;
}

@keyframes hpbar-in {
  0% {
    width: 0%;
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hpbar-out-collapse {
  0% {
    opacity: 1;
  }
  100% {
    width: 0%;
    opacity: 0.6;
  }
}

@keyframes hpbar-out-gray {
  0% {
    filter: grayscale(0%);
  }
  100% {
    filter: grayscale(100%);
  }
}

.animate-hpbar-in {
  animation-name: hpbar-in;
}

.animate-hpbar-out {
  animation:
    hpbar-out-gray 0.1s,
    hpbar-out-collapse 0.1s 0.2s;
}
