@if (isShown()) {
  <div
    class="vw-1920 flex flex-row justify-between bg-[#171C22B3] mt-22"
  >
    <!-- Score blocks -->
    @for (team of dataModel.teams(); track $index; let teamIndex = $index) {
      <div
        class= "mx-5 flex flex-col gap-2.5 rounded-sm px-5 py-4"
        animate.enter="animate-scoreboard-in animate-duration-300"
      >
        @for (player of team.players; track $index) {
          @if (!dataModel.minimalMode()) {
            <app-playerscore-new
              [player]="player"
              [right]="teamIndex === 1"
              [color]="team.isAttacking ? 'attacker' : 'defender'"
            ></app-playerscore-new>
          } @else {
            <app-playerscore-minimal-new
              [player]="player"
              [right]="teamIndex === 1"
              [color]="team.isAttacking ? 'attacker' : 'defender'"
            ></app-playerscore-minimal-new>
          }
        }
      </div>
    }
  </div>
}
